// Pagination
.navigation {
  margin: 1em 0;
  width: 100%;
}
/*rtl:ignore*/
.navigation .page-numbers {
  padding-left: 9px;
}

.navigation .page-numbers .navigation .page-numbers:hover,
.navigation .page-numbers.current {
  text-decoration: none;
}

.navigation .page-numbers {
  display: inline-block;
}

.navigation .page-numbers {
  font-size: 14px;
}

.navigation .page-numbers,
.navigation .page-numbers:hover,
.navigation .page-numbers.current {
  display: inline-block;
  background-color: #fff;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 2px;
  margin-bottom: 5px;
  font-size: 0.888em;
  letter-spacing: 8px;
  border-radius: 2px;
}

.navigation .page-numbers:hover,
.navigation .page-numbers.current {
  color: #333;
  text-decoration: none;
}

@media (max-width: 420px) {
  .navigation .page-numbers,
  .navigation .page-numbers:hover,
  .navigation .page-numbers.current {
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin-right: 0;
  }
}