.go-pro-section {
    display: flex;
    padding: 0;
    justify-content: center;
}

.control-section-pliska-pro-section .accordion-section-title .button {
    text-align: center;
    font-weight: 500;
    background: #fbc02d;
    color: #000;
    border-color: #fbc02d;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 14px;
    transition: .5s ease-in;
}