body,
button,
input,
select,
optgroup,
textarea {
	font-family: $font__main;
	line-height: $font__line-height-body;
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

@import "headings";
@import "copy";
