.wrapper {
  width: 100%;
  max-width: 1180px;
  padding: 1em 15px 0;
}

.site-main {
  width: 100%;
}

@media (min-width: 60em) {
  .site-main {
    max-width: 65%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
}

@media (min-width: 80em) {
  .site-main {
    max-width: 67.5%;
  }
}